body {
box-sizing: border-box;
display: flex;
justify-content:center ;
align-items: center;
width: 100wv;
height: 100vh;
}

.login {
    padding: 1rem;
    height: 30%;
    background-color:#ade8f4;
    border-radius: 8px  ;
    border: 1px solid #ade8f4;
    display: flex;
    align-items: center;
    
} 


form {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
}

input {
    height: 1.5rem;
    width: 18rem;
    margin: 0.5rem 0rem;

}

button {
height: 1.9rem;
font-size: 15pt;
background-color: #03045e;
color: white;
border-radius: 8px  ;
border: 1px solid white;
}